.bg{
    background-color: rgb(244,246,249);
    min-height: 100%;
    padding: 1rem;
}

.container{
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.form{
    width: 30rem;
}

h1{
    font-weight: 500;
}

.btnBack{
    margin-bottom: 1rem;
}

.formSection{
   padding: 0 1rem; 
}

.complete-form{
    width: 100%;
}

.addForm{
    display: flex;
    justify-content: center;
}

.filtro{
    width: 18rem;
}

.filtroB{
    width: 20rem;
}

.filtros{
    display: flex;
    justify-content: space-around;
}

.botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}