<h2>Crear Usuario</h2>  
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <div class="filtros">
      <mat-form-field class="lista" appearance="fill">
        <mat-label>Usuario</mat-label>
        <mat-select [(ngModel)]="involucrado.idUsuario" #ubicacionSelector>
            <mat-option *ngFor="let involucrado of listaUsuarios" [value]="involucrado.idUsuario">{{involucrado.nombre}} {{involucrado.apellidos}} ({{involucrado.correo}})</mat-option>
        </mat-select>
      </mat-form-field>
      <section class="example-section" [formGroup]="permisos">
        <p><mat-checkbox formControlName="notificaciones">Todas las notificaciones</mat-checkbox></p>
        <p><mat-checkbox formControlName="firma">Firma bitácora</mat-checkbox></p>
      </section>
  </div>
</mat-dialog-content>
<div class="botones">
  <button mat-raised-button color="primary" class="btnCrearUsuario" (click)="agregarInvolucrado()" mat-dialog-close>Crear</button>
  <button mat-raised-button color="warn" class="btnCrearUsuario" mat-dialog-close>Cancelar</button>
</div>
