<body class="background">
  <div class="card">
    <img src="./assets/img/LogotipoCarpin.jpg" alt="">
    <h2>Recuperar Contraseña</h2>

    <mat-form-field class="password">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput type="password" [formControl]="passwordFormControl" [(ngModel)]="password">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Ingrese una contraseña
      </mat-error>
    </mat-form-field>

    <mat-form-field class="password">
      <mat-label>Verificar nueva contraseña</mat-label>
      <input matInput type="password" [formControl]="confirmPasswordFormControl" [(ngModel)]="confirmPassword">
      <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
        Confirme su contraseña
      </mat-error>
    </mat-form-field>


    <a class="iForgot" routerLink="/">Iniciar sesión</a>
    <button mat-raised-button color="primary" class="btnIniciarSesion" (click)="cambiarPassword()">Cambiar Contraseña</button>
  </div>
</body>

